<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bettehem.virkia_alppi_freestyle"
    android:versionCode="2"
    android:versionName="@string/appversion" >

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="21" />

    <application
        android:icon="@drawable/alppilogo"
        android:label="@string/app_name"
		android:allowBackup="false"
        android:theme="@style/AppBaseTheme">
        <activity
            android:label="@string/app_name"
            android:name="com.bettehem.virkia_alppi_freestyle.MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/app_name"
            android:name="com.bettehem.virkia_alppi_freestyle.Etusivu">
            <intent-filter >
                <action android:name="com.bettehem.virkia_alppi_freestyle.ETUSIVU"/>
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/app_name"
            android:name="com.bettehem.virkia_alppi_freestyle.Ryhma">
            <intent-filter >
                <action android:name="com.bettehem.virkia_alppi_freestyle.RYHMA"/>
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/app_name"
            android:name="com.bettehem.virkia_alppi_freestyle.Tapahtuma">
            <intent-filter >
                <action android:name="com.bettehem.virkia_alppi_freestyle.TAPAHTUMA"/>
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/app_name"
            android:name="com.bettehem.virkia_alppi_freestyle.Linkit">
            <intent-filter >
                <action android:name="com.bettehem.virkia_alppi_freestyle.LINKIT"/>
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/app_name"
            android:name="com.bettehem.virkia_alppi_freestyle.Freestyle">
            <intent-filter >
                <action android:name="com.bettehem.virkia_alppi_freestyle.FREESTYLE"/>
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/app_name"
            android:name="com.bettehem.virkia_alppi_freestyle.Yhteistyo">
            <intent-filter >
                <action android:name="com.bettehem.virkia_alppi_freestyle.YHTEISTYO"/>
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/app_name"
            android:name="com.bettehem.virkia_alppi_freestyle.Yhteystiedot">
            <intent-filter >
                <action android:name="com.bettehem.virkia_alppi_freestyle.YHTEYSTIEDOT"/>
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/app_name"
            android:name="com.bettehem.virkia_alppi_freestyle.Tiedot">
            <intent-filter >
                <action android:name="com.bettehem.virkia_alppi_freestyle.TIEDOT"/>
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.bettehem.virkia_alppi_freestyle.ViestiRuutu">
            <intent-filter >
                <action android:name="com.bettehem.virkia_alppi_freestyle.VIESTIRUUTU"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
		<meta-data android:name="com.sec.android.support.multiwindow" android:value="true"/>
        <meta-data android:name="com.sec.minimode.icon.portrait.normal" android:resource="@drawable/alppilogo" />
        <meta-data android:name="com.sec.minimode.icon.landscape.normal" android:resource="@drawable/alppilogo" />
    </application>

</manifest>
